
table thead th{
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table thead th.desc {
  background-image: url(asc.gif);
  background-repeat: no-repeat;
  background-position: center right;
}
table thead th.asc {
  background-image: url(desc.gif);
  background-repeat: no-repeat;
  background-position: center right;
}
#pnms{
  margin:5px;
}
.search {
  padding:5px;
}