{% extends "layout.html" %}
{% block head %}
 <link rel="stylesheet" href="/static/allpnms.css">
{% endblock %}
{% block body %}
<div id="pnms">
	<input class="search form-control" placeholder="Search" />
	<table class="table" id="pnmTable">
	<thead>
		<tr>
		<th class="sort" data-sort="name">PNM</th>
		<th class="sort" data-sort="sister_name">Sister</th>
		<th class="sort" data-sort="night">Night</th>
		<th class="sort" data-sort="party">Party</th>
		<th class="sort" data-sort="text">Comments</th>
		<th class="sort" data-sort="interests">Sisters added</th>
		<th class="sort" data-sort="sisters">Sisters to talk to</th>
		</tr>	
	</thead>
	<tbody class="list">
	{% for p in pnms %}
		{% for c in p.comments %}
		<tr>
		<td class="name"> {{p.name}}</td>
		<td class="sister_name"> {{c.sister_name}}</td>
		<td class="night"> {{c.night}}</td>
		<td class="party"> {{c.party}}</td>
		<td class="text"> {{c.text}}</td>
		<td class="interests"> {{c.interests}} </td>
		<td class="sisters"> {{c.sisters}}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
	</table>
</div>
<script type="text/javascript" src="/static/list.min.js"></script>

<script>
	$(document).ready(function(){
		$(function(){
			var options = {
  				valueNames: ['name', 'sister_name', 'night', 'party', 'text', 'interests', 'sisters']
			};
			var pnmTable = new List('pnms', options)

		});
	});

</script>
{% endblock %}