{% extends "layout.html" %}
{% block head %}
 <link rel="stylesheet" href="/static/allpnms.css">
{% endblock %}
{% block body %}
<table class="table tablesorter" id="pnmTable">
<thead>
<tr>
<th>PNM</th><th>Sister</th><th>Night</th><th>Party</th>
<th>Comments</th><th>Sisters added</th><th>Sisters to talk to</th>
</tr>	
</thead>
<tbody>
{% for p in pnms %}
	{% for c in p.comments %}
	<tr>
	<td> {{p.name}}</td>
	<td> {{c.sister_name}}</td>
	<td> {{c.night}}</td>
	<td> {{c.party}}</td>
	<td> {{c.text}}</td>
	<td> {{c.interests}} </td>
	<td> {{c.sisters}}</td>
	</tr>
	{% endfor %}
{% endfor %}
</tbody>
</table>

<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script> 

<script>
	$(document).ready(function(){
		$(function(){
			$("#pnmTable").tablesorter({
				headerTemplate : '{content}{icon}',
				widgets : ["columns"]
			});
		});
	});
</script>
{% endblock %}