{% extends "layout.html" %}
{% block body %}

<div>
<h3>
Assign Sisters to bump groups!
</h3>
<form action="" method=post class="form-horizontal" id="pnmpartyform">
<table class="table table-condensed">
<thead>
<tr><th>Name</th><th>Bump Group</th></tr>
</thead>
<tbody>
{% for s in sisters %}
	<tr>
	<div class="form-inline">
	<td>
		{{s[0]}}  
	</td>
	<td>
		<select name={{s[0]}} class="form-control">
		{% for b in bumps %}
		<option value={{b}} {% if s[1] == b %} selected 
		{% endif %}>{{b}}</option>
		{% endfor %}
		</select>
	</td>
	</div>
</tr>
{% endfor %}
</tbody>
</table>
<div class="controls">
          <button type="submit" class="btn btn-danger">Save</button>
	</div>
</form>

</div>
{% endblock %}