{% extends "layout.html" %}
{% block body %}
<form action="" method=post>
<div class="form-inline">
<label>Which night?</label>
 <select name=night onchange="this.form.submit()" class="form-control">
	<option value="1" {% if session.assign_night == 1 %}
	selected {% endif %}>1</option>
	<option value="2"{% if session.assign_night == 2 %}
	selected {% endif %}>2</option>
	<option value="3"{% if session.assign_night == 3 %}
	selected {% endif %}>3</option>
</select>
</div>
</form>
<form action="" method=post class="form-horizontal" id="pnmpartyform">
<label>
Assign PNMs to parties and bump group!
</label>
{% for p in pnms %}
	<div class="form-inline"
	<label>{{p[0]}} </label>
	<select name={{p[0]}}+party class="form-control">
	<option value=0 {% if p[1] == 0 %}selected {% endif %}>Not Attending</option>
	{% for r in parties %}
	<option value={{r}}{% if p[1] == r %} selected {% endif %}>{{r}}</option>
	{% endfor %}
	</select>

	<select name={{p[0]}}+bump class="form-control">
	{% for b in bumps %}
	<option value={{b}} {% if p[2] == b %} selected {% endif %}>{{b}}</option>
	{% endfor %}
	</select>
	</div>

{% endfor %}
		
<div class="controls">
          <button type="submit" class="btn">Submit</button>
	</div>
</form>


{% endblock %}