{% extends "layout.html" %}
{% block body %}
<h1 style="text-align:center;">WELCOME! Its night {{session.night}}. </h1>

<h2>Admin Actions</h2>

<form action="" method=post role="form" class="form-inline" id="pnmform">
<label>Set Night:</label>
 <select class="form-control" name=night>
 	<option value="0">Not FMR</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
</select>
<button type="submit" class="btn">Submit</button>
 </form>
 <div>
 <a href="/allpnms">See All PNMS </a>
</div>
<div>
<a href="/assignpnms"> Assign PNMs to Bump Groups </a>
</div>

<h2>Sister Actions</h2>	
<div>
<a href="/mypnms/1">Review PNMS!</a>
</div>
{% endblock %}