{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-signin" role="form">

    <h2>Signin to HostessApp</h2>
          <input type="text" id="username" name="username" class="form-control"
            placeholder="Enter Username" required autofocused>

          <input type="password" id="password" name="password" class="form-control"
            placeholder="Enter Password" required>
 
          <div class="checkbox">
          <label>
            <input type="checkbox" id="remember" name="remember">
            Remember Me
            
          </label>
          </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Signin</button>
  </form>
{% endblock %}