{% extends "layout.html" %}
{% block body %}
{% if notfmr %}
<h1> Oops, its not currently a night of fmr :( </h1>
{% else %}
<div> <h2 style="text-align:center;"> <span class="label label-danger"> Party {{party}} </span></h2> </div>
	{% for p in pnms %}
	<div>
		<ul class="list-group">
		<li class="list-group-item active"><b>Name:</b> {{p.name}}</li>
		<li class="list-group-item"><b>Hometown:</b> {{p.hometown}}</li>
		<li class="list-group-item"><b>Major:</b> {{p.major}}</li>
		<li class="list-group-item"><b>Interests (from PNM):</b> {{p.interests}}</li>
		<li class="list-group-item"><b>Interests (from sis):</b> {{p.interests_sis}}</li>
		<li class="list-group-item"><b>Comments:</b> 
			<ul>
			{% for c in p.comments %}
			<li> {{c.text}} </li>
			{% endfor %}
			</ul>
		</li>
	</ul>
	</div>
	{% endfor %}
<div style="text-align:center;">
	<a href="/pnmform/{{party}}" role="button" class="btn btn-primary btn-large">Review PNMs</a>
</div>
{% endif %}

{% endblock %}