{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal" id="pnmform">
    <h2>Review a PNM</h2>

          <label>Name:</label>
          <div class="form-inline">
          <select form="pnmform" name="name" class="form-control" required>
            {% for p in pnms %}
              <option>{{p.name}}</option>
            {% endfor %}
          </select>
          </div>

        <label> Interests: </label>
        <textarea rows="4" cols="50" name="interests" class="form-control" form="pnmform"></textarea><br>
        <label> General Comments: </label>
        <textarea rows="4" cols="50" name="comments" class="form-control" form="pnmform" required></textarea><br>
        <label>Sisters to talk to: </label>
        <textarea rows="4" cols="50" name="sisters" class="form-control" form="pnmform"></textarea><br>
        <div style="text-align:center">  
        <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>
  </form>
  <div style="padding:5px;">
  <a href='/mypnms/{{party}}' role="button" class="btn btn-primary"> Back to PNM list</a> 
  {% if last_party %}
  <a href='/' role="button" class="btn btn-default"> Return Home </a>
  {% else %}
  <a href='/mypnms/{{party+1}}' role="button" class="btn btn-primary">Next Party</a> 
  {% endif %}
</div>
{% endblock %}